USE [master]
GO
/****** Object:  Database [Prosoft-Vezbe]    Script Date: 21-Nov-19 18:46:52 ******/
CREATE DATABASE [Prosoft-Vezbe]
GO
USE [Prosoft-Vezbe]
GO
USE [Prosoft-Vezbe]
GO
/****** Object:  Table [dbo].[Dobavlja]    Script Date: 21-Nov-19 18:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dobavlja](
	[Dobavljac] [int] NOT NULL,
	[Proizvod] [int] NOT NULL,
	[Datum] [date] NULL,
	[Opis] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Proizvod] ASC,
	[Dobavljac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dobavljac]    Script Date: 21-Nov-19 18:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dobavljac](
	[Id] [int] NOT NULL,
	[Naziv] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 21-Nov-19 18:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[Id] [int] NOT NULL,
	[Naziv] [varchar](50) NULL,
	[Cena] [float] NULL,
	[Proizvodjac] [int] NULL,
 CONSTRAINT [PK_Proizvod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvodjac]    Script Date: 21-Nov-19 18:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvodjac](
	[Id] [int] NOT NULL,
	[Naziv] [varchar](50) NULL,
 CONSTRAINT [PK_Proizvodjac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racun]    Script Date: 21-Nov-19 18:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racun](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime] NULL,
	[Korisnik] [varchar](50) NULL,
 CONSTRAINT [PK_Racun] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaRacuna]    Script Date: 21-Nov-19 18:46:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaRacuna](
	[RB] [int] NOT NULL,
	[RacunId] [int] NOT NULL,
	[Kolicina] [int] NULL,
	[UkupanIznos] [float] NULL,
	[Proizvod] [int] NULL,
 CONSTRAINT [PK_StavkaRacuna] PRIMARY KEY CLUSTERED 
(
	[RB] ASC,
	[RacunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Dobavljac] ([Id], [Naziv]) VALUES (1, N'd1')
INSERT [dbo].[Dobavljac] ([Id], [Naziv]) VALUES (2, N'd2')
INSERT [dbo].[Proizvod] ([Id], [Naziv], [Cena], [Proizvodjac]) VALUES (1, N'Proizvod 1', 100, 1)
INSERT [dbo].[Proizvod] ([Id], [Naziv], [Cena], [Proizvodjac]) VALUES (2, N'Proizvod 2', 222.22, 3)
INSERT [dbo].[Proizvod] ([Id], [Naziv], [Cena], [Proizvodjac]) VALUES (3, N'Proizvod 3', 3012.12, 2)
INSERT [dbo].[Proizvodjac] ([Id], [Naziv]) VALUES (1, N'Proizvodjac 1')
INSERT [dbo].[Proizvodjac] ([Id], [Naziv]) VALUES (2, N'Proizvodjac 2')
INSERT [dbo].[Proizvodjac] ([Id], [Naziv]) VALUES (3, N'Proizvodjac 3')
ALTER TABLE [dbo].[Proizvod]  WITH CHECK ADD  CONSTRAINT [FK_Proizvod_Proizvodjac] FOREIGN KEY([Proizvodjac])
REFERENCES [dbo].[Proizvodjac] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Proizvod] CHECK CONSTRAINT [FK_Proizvod_Proizvodjac]
GO
ALTER TABLE [dbo].[StavkaRacuna]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRacuna_Proizvod] FOREIGN KEY([Proizvod])
REFERENCES [dbo].[Proizvod] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaRacuna] CHECK CONSTRAINT [FK_StavkaRacuna_Proizvod]
GO
ALTER TABLE [dbo].[StavkaRacuna]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRacuna_Racun] FOREIGN KEY([RacunId])
REFERENCES [dbo].[Racun] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaRacuna] CHECK CONSTRAINT [FK_StavkaRacuna_Racun]
GO
USE [master]
GO
